#drum-pad-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.drum-pad {
    /* Vertically align text */
    display: flex;
    flex-direction: column;
    justify-content: left;

    background-color: purple;
    width: 30%;
    height: 100px;
    /* Horizontally align text */
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    box-shadow: grey 3px 3px 5px;
}
